<!DOCTYPE html>
<html lang="en">

<head>
</head>


<body>

    <!-- Page Header -->
    <header>
        <img src="images/pizza_banner.jpg">
    </header>

    <!-- Main Content -->
    <h1> Error </h1>


    <h2>The following information is blank:</h2>



    <!-- Footer -->
    <footer>

    </footer>

</body>
</html>