<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pizza Order - NodeJS</title>
    
    <link rel="stylesheet" type="text/css" href="css/style.css" />

</head>

<body>

    <!-- Page Header -->
    <header>
        <img src="images/pizza_banner">
    </header>


    <h2>Your order is on the way</h2>

    <h1> Thanks!!!</h1>

    <button type="button" href="index.ejs"> Home Page.</button>

    
    
    
        <!-- Footer -->
        <footer>

        </footer>

</body>

</html>
